<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.programamagia">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_magico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_magico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Intro">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Gestao_Reportorio" />
        <activity android:name=".Gestao_Espectaculos"/>
        <activity android:name=".Gestao_Eventos"/>
        <activity android:name=".Gestao_Clientes"/>
        <activity android:name=".Gestao_Definicoes"/>
        <activity android:name=".Gestao_Truques_App"/>
        <activity android:name=".MainActivity"/>


    </application>

</manifest>